src/view/index.pug
extends include/main

block variables
  - let title = 'Зимний спортивный фестиваль'
  - let page = 'index'
  -
    let links = [
      { url: '#tubing', title: 'Тюбинг', image: 'tube' },
      { url: '#snowpark', title: 'Взрослый сноупарк', image: 'skis' },
      { url: '#childrens', title: 'Детский сноупарк', image: 'snowboard' },
      { url: '#snowboarding', title: 'Соревнования по сноубордингу', image: 'snowboard' },
      { url: '#ice-rink', title: 'Мероприятия на катках', image: 'skates' },
      { url: '#race', title: 'Рождественский забег', image: 'cross' }
    ]

block content
  section#index
    .container
      .index.content
        .index__video
          video(autoplay loop muted playsinline)
            source(src='/video/logo.mp4' type='video/mp4')
        .index__title
          h1 Зимний спортивный фестиваль
        .index__info
          | Время:
          span 27.12.2021 - 09.01.2022
        .index__desc
          p Зимний спортивный фестиваль — яркое спортивное событие в жизни новогодней Москвы.
          p Более 10 зон спортивных активностей: любительские соревнования, мастер-классы, свободное катание, йога для тех, кому надоели морозы, и первый забег года. Ваши каникулы пройдут мощно вместе с&nbsp;Москомспортом!
        .index__link
          each link in links
            a.hash(href=link.url class=link.image title=link.title)
              | #{ link.title }
              svg
                use(href='/image/icon/link.svg#link')
  section#tubing
    .container
      .tubing.content
        .tubing__video
          video(autoplay loop muted playsinline)
            source(src='/video/tube.mp4' type='video/mp4')
        .tubing__count 01 / 06
        .tubing__title
          h2 Тюбинг
        .tubing__desc
          p Свободное катание на тюбах по&nbsp;крутым склонам. Приходи со&nbsp;своим или бери тюб в аренду. С друзьями — веселее!
        .tubing__remark Количество тюбов в аренду ограничено.
        .tubing__note
          p Допускается одновременное присутствие не более 100 человек на объекте в связи с&nbsp;мерами профилактики COVID-19.
          p Мы заботимся о вашей безопасности и&nbsp;о&nbsp;вашем времени! Запишитесь в короткой форме на сайте, чтобы свободно посетить горку.
        .tubing-info
          .tubing-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .tubing-info__item
            | Время:
            span с 12:00 до 22:00
          .tubing-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .tubing__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .tubing-image.content
        img(src='/image/pattern/1.png' loaded='lazy' alt='pattern')
  section#snowpark
    .container
      .snowpark.content
        .snowpark__video
          video(autoplay loop muted playsinline)
            source(src='/video/skis.mp4' type='video/mp4')
        .snowpark__count 02 / 06
        .snowpark__title
          h2 Взрослый сноупарк&nbsp;&nbsp;&nbsp;&nbsp;
        .snowpark__desc
          p Раздельные трассы для катания на&nbsp;сноуборде и тюбинге, свободное катание и спуски разного уровня сложности, которые подойдут для сноубордистов любой подготовки.
        .snowpark-info
          .snowpark-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .snowpark-info__item
            | Время:
            span с 12:00 до 22:00
          .snowpark-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .snowpark__remark
          | Исключение :
          span 3 и 8 января соревнования, 31&nbsp;декабря до 19:00.
        .snowpark__link
          a.open-popup(href='#schedule' title='Расписание мастер-классов')
            | Расписание мастер-классов
            svg
              use(href='/image/icon/link.svg#link')
        .snowpark__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .snowpark-image.content
        img(src='/image/pattern/2.png' loaded='lazy' alt='pattern')
  section#childrens
    .container
      .childrens.content
        .childrens__video
          video(autoplay loop muted playsinline)
            source(src='/video/snowboard.mp4' type='video/mp4')
        .childrens__count 03 / 06
        .childrens__title
          h2 Детский сноупарк&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .childrens__desc
          p Для самых маленьких сноубордистов, от 3 до 14 лет, предусмотрена отдельная зона с&nbsp;детскими снарядами и инструктором.
        .childrens-info
          .childrens-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .childrens-info__item
            | Время:
            span с 12:00 до 19:00
          .childrens-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .childrens__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
  section#snowboarding
    .container
      .snowboarding.content
        .snowboarding__video
          video(autoplay loop muted playsinline)
            source(src='/video/snowboard2.mp4' type='video/mp4')
        .snowboarding__count 04 / 06
        .snowboarding__title
          h2 Соревнования по&nbsp;сноубордингу
        .snowboarding__desc
          p Помимо свободного катания Зимний фестиваль порадует вас профессиональными и&nbsp;любительскими соревнованиями. Принимайте участие и приходите поддержать участников.
        .snowboarding__note
          p Для посещения площадки зарегистрируйтесь в короткой форме, это поможет вам комфортно и быстро пройти зону контроля.
        .snowboarding-info
          .snowboarding-info__item
            | Любительское:
            span 3 января
          .snowboarding-info__item
            | Профессиональное:
            span 8 января
          .snowboarding-info__item
            | Время:
            span с 12:00 до 19:00
          .snowboarding-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .snowboarding__link
          a(href='#' title='Расписание соревнований')
            | Расписание соревнований
            svg
              use(href='/image/icon/link.svg#link')
        .snowboarding__button
          .button
            a(href='#' title='Регистрация')
              | Регистрация
              svg
                use(href='/image/icon/link.svg#link')
      .snowboarding-image.content
        img(src='/image/pattern/3.png' loaded='lazy' alt='pattern')
  section#ice-rink
    .container
      .ice-rink.content
        .ice-rink__video
          video(autoplay loop muted playsinline)
            source(src='/video/skates.mp4' type='video/mp4')
        .ice-rink__count 05 / 06
        .ice-rink__title
          h2 Мероприятия на катках
        .ice-rink__desc
          p Для тех, кто твердо стоит на коньках и для тех, кто только планирует научиться кататься. Выбирай каток ближе к дому или в любимом парке и приходи на мастер-классы от профессиональных фигуристов и тренеров по фигурному катанию. В программу включены хорошая музыка и праздничное настроение :)
        .ice-rink__link
          a.open-popup(href='#schedule' title='Адреса + расписание катков')
            | Адреса + расписание катков
            svg
              use(href='/image/icon/link.svg#link')
        .ice-rink__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .ice-rink-image.content
        img(src='/image/pattern/1.png' loaded='lazy' alt='pattern')
  section#race
    .container
      .race.content
        .race__video
          video(autoplay loop muted playsinline)
            source(src='/video/cross.mp4' type='video/mp4')
        .race__count 06 / 06
        .race__title
          h2 Рождественский забег
        .race__desc
          p Первый забег года для всех, кто ждет открытие сезона и хочет ворваться в 2022 год спортивно. Сотни людей в новогодних костюмах, горячий чай для поддержания духа и призы для участников.
        .race__remark Готовь костюм и регистрируйся в специальной форме!
        .race-info
          .race-info__item
            | Дата:
            span 7 января
          .race-info__item
            | Время:
            span 18:00
          .race-info__item
            | Локация:
            span Лужники
        .race__note
          h4 Правила участия:
          p К участию в забеге допускаются лица от 14 лет и старше.
          p Участие в забеге абсолютно бесплатное.
          p Для участия в забеге необходимо предъявить мед.допуск (справку).
        .race__button
          .button
            a(href='#' title='Регистрация')
              | Регистрация
              svg
                use(href='/image/icon/link.svg#link')
      .race-image.content
        img(src='/image/pattern/2.png' loaded='lazy' alt='pattern')
  section#faq
    .container
      .faq.content
        .faq__title
          h2 FAQ
        ul.faq-list
          li.faq-list__item
            a(href='#' title='Как пройти на площадку?')
              .faq-list__question
                | Как пройти на площадку?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a.open(href='#' title='Предусмотрен ли прокат?')
              .faq-list__question
                | Предусмотрен ли прокат?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a(href='#' title='Где найти расписание активностей?')
              .faq-list__question
                | Где найти расписание активностей?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a(href='#' title='Что от меня потребуется на площадке?')
              .faq-list__question
                | Что от меня потребуется на площадке?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Зимний спортивный фестиваль</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Korotkov ilushkeens@gmail.com">
    <meta name="theme-color" content="#000000">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
    <link href="/mask-icon.svg" rel="mask-icon" color="#ffffff">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=81414c9" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header">
      <div class="header-logo">
        <div class="header-logo__moscow"><a href="https://www.mos.ru/moskomsport/" target="_blank" title="Департамент спорта города Москвы"><img src="/image/moscow.svg" alt="Департамент спорта города Москвы"><span>Департамент<br>спорта<br>города Москвы</span></a></div><a href="/" title="Зимний спортивный фестиваль"><img src="/image/logo.svg" alt="Зимний спортивный фестиваль"></a>
      </div>
      <div class="header__group">
        <nav class="header-menu">
          <ul>
            <li><a class="hash" href="#faq" title="FAQ">FAQ</a></li>
            <li><a class="hash" href="#" title="Расшиб">Расшиб</a></li>
          </ul>
        </nav>
        <div class="header-covid-free"><a href="#" title="COVID Free">COVID<span>Free</span></a></div>
        <div class="header-auth"><a class="open-popup" href="#consent" title="Запись">Запись</a></div>
      </div>
    </div>
  </div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/logo.mp4" type="video/mp4">
                </video>
              </div>
              <div class="index__title">
                <h1>Зимний спортивный фестиваль</h1>
              </div>
              <div class="index__info">Время:<span>27.12.2021 - 09.01.2022</span></div>
              <div class="index__desc">
                <p>Зимний спортивный фестиваль — яркое спортивное событие в жизни новогодней Москвы.</p>
                <p>Более 10 зон спортивных активностей: любительские соревнования, мастер-классы, свободное катание, йога для тех, кому надоели морозы, и первый забег года. Ваши каникулы пройдут мощно вместе с&nbsp;Москомспортом!</p>
              </div>
              <div class="index__link"><a class="hash tube" href="#tubing" title="Тюбинг">Тюбинг
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a><a class="hash skis" href="#snowpark" title="Взрослый сноупарк">Взрослый сноупарк
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a><a class="hash snowboard" href="#childrens" title="Детский сноупарк">Детский сноупарк
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a><a class="hash snowboard" href="#snowboarding" title="Соревнования по сноубордингу">Соревнования по сноубордингу
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a><a class="hash skates" href="#ice-rink" title="Мероприятия на катках">Мероприятия на катках
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a><a class="hash cross" href="#race" title="Рождественский забег">Рождественский забег
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a>
              </div>
            </div>
          </div>
        </section>
        <section id="tubing">
          <div class="container">
            <div class="tubing content">
              <div class="tubing__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/tube.mp4" type="video/mp4">
                </video>
              </div>
              <div class="tubing__count">01 / 06</div>
              <div class="tubing__title">
                <h2>Тюбинг</h2>
              </div>
              <div class="tubing__desc">
                <p>Свободное катание на тюбах по&nbsp;крутым склонам. Приходи со&nbsp;своим или бери тюб в аренду. С друзьями — веселее!</p>
              </div>
              <div class="tubing__remark">Количество тюбов в аренду ограничено.</div>
              <div class="tubing__note">
                <p>Допускается одновременное присутствие не более 100 человек на объекте в связи с&nbsp;мерами профилактики COVID-19.</p>
                <p>Мы заботимся о вашей безопасности и&nbsp;о&nbsp;вашем времени! Запишитесь в короткой форме на сайте, чтобы свободно посетить горку.</p>
              </div>
              <div class="tubing-info">
                <div class="tubing-info__item">Дата:<span>27.12.2021 - 09.01.2022</span></div>
                <div class="tubing-info__item">Время:<span>с 12:00 до 22:00</span></div>
                <div class="tubing-info__item">Локация:<span>Лужники, Фестивальная площадь</span></div>
              </div>
              <div class="tubing__button">
                <div class="button"><a class="open-popup" href="#consent" title="Запись">Запись
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="tubing-image content"><img src="/image/pattern/1.png" loaded="lazy" alt="pattern"></div>
          </div>
        </section>
        <section id="snowpark">
          <div class="container">
            <div class="snowpark content">
              <div class="snowpark__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/skis.mp4" type="video/mp4">
                </video>
              </div>
              <div class="snowpark__count">02 / 06</div>
              <div class="snowpark__title">
                <h2>Взрослый сноупарк&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              </div>
              <div class="snowpark__desc">
                <p>Раздельные трассы для катания на&nbsp;сноуборде и тюбинге, свободное катание и спуски разного уровня сложности, которые подойдут для сноубордистов любой подготовки.</p>
              </div>
              <div class="snowpark-info">
                <div class="snowpark-info__item">Дата:<span>27.12.2021 - 09.01.2022</span></div>
                <div class="snowpark-info__item">Время:<span>с 12:00 до 22:00</span></div>
                <div class="snowpark-info__item">Локация:<span>Лужники, Фестивальная площадь</span></div>
              </div>
              <div class="snowpark__remark">Исключение :<span>3 и 8 января соревнования, 31&nbsp;декабря до 19:00.</span></div>
              <div class="snowpark__link"><a class="open-popup" href="#schedule" title="Расписание мастер-классов">Расписание мастер-классов
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a></div>
              <div class="snowpark__button">
                <div class="button"><a class="open-popup" href="#consent" title="Запись">Запись
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="snowpark-image content"><img src="/image/pattern/2.png" loaded="lazy" alt="pattern"></div>
          </div>
        </section>
        <section id="childrens">
          <div class="container">
            <div class="childrens content">
              <div class="childrens__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/snowboard.mp4" type="video/mp4">
                </video>
              </div>
              <div class="childrens__count">03 / 06</div>
              <div class="childrens__title">
                <h2>Детский сноупарк&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              </div>
              <div class="childrens__desc">
                <p>Для самых маленьких сноубордистов, от 3 до 14 лет, предусмотрена отдельная зона с&nbsp;детскими снарядами и инструктором.</p>
              </div>
              <div class="childrens-info">
                <div class="childrens-info__item">Дата:<span>27.12.2021 - 09.01.2022</span></div>
                <div class="childrens-info__item">Время:<span>с 12:00 до 19:00</span></div>
                <div class="childrens-info__item">Локация:<span>Лужники, Фестивальная площадь</span></div>
              </div>
              <div class="childrens__button">
                <div class="button"><a class="open-popup" href="#consent" title="Запись">Запись
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </section>
        <section id="snowboarding">
          <div class="container">
            <div class="snowboarding content">
              <div class="snowboarding__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/snowboard2.mp4" type="video/mp4">
                </video>
              </div>
              <div class="snowboarding__count">04 / 06</div>
              <div class="snowboarding__title">
                <h2>Соревнования по&nbsp;сноубордингу</h2>
              </div>
              <div class="snowboarding__desc">
                <p>Помимо свободного катания Зимний фестиваль порадует вас профессиональными и&nbsp;любительскими соревнованиями. Принимайте участие и приходите поддержать участников.</p>
              </div>
              <div class="snowboarding__note">
                <p>Для посещения площадки зарегистрируйтесь в короткой форме, это поможет вам комфортно и быстро пройти зону контроля.</p>
              </div>
              <div class="snowboarding-info">
                <div class="snowboarding-info__item">Любительское:<span>3 января</span></div>
                <div class="snowboarding-info__item">Профессиональное:<span>8 января</span></div>
                <div class="snowboarding-info__item">Время:<span>с 12:00 до 19:00</span></div>
                <div class="snowboarding-info__item">Локация:<span>Лужники, Фестивальная площадь</span></div>
              </div>
              <div class="snowboarding__link"><a href="#" title="Расписание соревнований">Расписание соревнований
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a></div>
              <div class="snowboarding__button">
                <div class="button"><a href="#" title="Регистрация">Регистрация
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="snowboarding-image content"><img src="/image/pattern/3.png" loaded="lazy" alt="pattern"></div>
          </div>
        </section>
        <section id="ice-rink">
          <div class="container">
            <div class="ice-rink content">
              <div class="ice-rink__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/skates.mp4" type="video/mp4">
                </video>
              </div>
              <div class="ice-rink__count">05 / 06</div>
              <div class="ice-rink__title">
                <h2>Мероприятия на катках</h2>
              </div>
              <div class="ice-rink__desc">
                <p>Для тех, кто твердо стоит на коньках и для тех, кто только планирует научиться кататься. Выбирай каток ближе к дому или в любимом парке и приходи на мастер-классы от профессиональных фигуристов и тренеров по фигурному катанию. В программу включены хорошая музыка и праздничное настроение :)</p>
              </div>
              <div class="ice-rink__link"><a class="open-popup" href="#schedule" title="Адреса + расписание катков">Адреса + расписание катков
                  <svg>
                    <use href="/image/icon/link.svg#link"></use>
                  </svg></a></div>
              <div class="ice-rink__button">
                <div class="button"><a class="open-popup" href="#consent" title="Запись">Запись
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="ice-rink-image content"><img src="/image/pattern/1.png" loaded="lazy" alt="pattern"></div>
          </div>
        </section>
        <section id="race">
          <div class="container">
            <div class="race content">
              <div class="race__video">
                <video autoplay loop muted playsinline>
                  <source src="/video/cross.mp4" type="video/mp4">
                </video>
              </div>
              <div class="race__count">06 / 06</div>
              <div class="race__title">
                <h2>Рождественский забег</h2>
              </div>
              <div class="race__desc">
                <p>Первый забег года для всех, кто ждет открытие сезона и хочет ворваться в 2022 год спортивно. Сотни людей в новогодних костюмах, горячий чай для поддержания духа и призы для участников.</p>
              </div>
              <div class="race__remark">Готовь костюм и регистрируйся в специальной форме!</div>
              <div class="race-info">
                <div class="race-info__item">Дата:<span>7 января</span></div>
                <div class="race-info__item">Время:<span>18:00</span></div>
                <div class="race-info__item">Локация:<span>Лужники</span></div>
              </div>
              <div class="race__note">
                <h4>Правила участия:</h4>
                <p>К участию в забеге допускаются лица от 14 лет и старше.</p>
                <p>Участие в забеге абсолютно бесплатное.</p>
                <p>Для участия в забеге необходимо предъявить мед.допуск (справку).</p>
              </div>
              <div class="race__button">
                <div class="button"><a href="#" title="Регистрация">Регистрация
                    <svg>
                      <use href="/image/icon/link.svg#link"></use>
                    </svg></a></div>
              </div>
            </div>
            <div class="race-image content"><img src="/image/pattern/2.png" loaded="lazy" alt="pattern"></div>
          </div>
        </section>
        <section id="faq">
          <div class="container">
            <div class="faq content">
              <div class="faq__title">
                <h2>FAQ</h2>
              </div>
              <ul class="faq-list">
                <li class="faq-list__item"><a href="#" title="Как пройти на площадку?">
                    <div class="faq-list__question">Как пройти на площадку?
                      <svg>
                        <use href="/image/icon/link.svg#link"></use>
                      </svg>
                    </div>
                    <div class="faq-list__answer">
                      <p>Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.</p>
                    </div></a></li>
                <li class="faq-list__item"><a class="open" href="#" title="Предусмотрен ли прокат?">
                    <div class="faq-list__question">Предусмотрен ли прокат?
                      <svg>
                        <use href="/image/icon/link.svg#link"></use>
                      </svg>
                    </div>
                    <div class="faq-list__answer">
                      <p>Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.</p>
                    </div></a></li>
                <li class="faq-list__item"><a href="#" title="Где найти расписание активностей?">
                    <div class="faq-list__question">Где найти расписание активностей?
                      <svg>
                        <use href="/image/icon/link.svg#link"></use>
                      </svg>
                    </div>
                    <div class="faq-list__answer">
                      <p>Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.</p>
                    </div></a></li>
                <li class="faq-list__item"><a href="#" title="Что от меня потребуется на площадке?">
                    <div class="faq-list__question">Что от меня потребуется на площадке?
                      <svg>
                        <use href="/image/icon/link.svg#link"></use>
                      </svg>
                    </div>
                    <div class="faq-list__answer">
                      <p>Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.</p>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-logo">
        <div class="footer-logo__moscow"><a href="https://www.mos.ru/moskomsport/" target="_blank" title="Департамент спорта города Москвы"><img src="/image/moscow.svg" alt="Департамент спорта города Москвы"><span>Департамент<br>спорта<br>города Москвы</span></a></div><a href="/" title="Зимний спортивный фестиваль"><img src="/image/logo-footer.svg" alt="Зимний спортивный фестиваль"></a>
      </div>
      <div class="footer-info">
        <p>При регистрации на мероприятие участник обязуется соблюдать <a href="#" title="Ознакомиться с правилами участия">правила участия</a>.</p>
      </div>
      <div class="footer__group">
        <div class="footer-social"><a href="https://www.instagram.com/" target="_blank" title="Instagram">
            <svg>
              <use href="/image/icon/instagram.svg#instagram"></use>
            </svg></a></div>
        <div class="footer-covid-free"><a href="#" title="COVID Free">COVID<span>Free</span></a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div id="popup">
  <div class="overlay">
    <div class="overlay-background"></div><a class="close-popup" href="#" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <!-- Расписание-->
    <div class="module" id="schedule">
      <div class="container">
        <div class="schedule">
          <div class="schedule__group">
            <div class="schedule__title">
              <h3>Расписание Мастерклассов по сноуборду и лыжам</h3>
            </div>
            <div class="schedule__info">Площадка:<span>Лужники, Фестивальная площадь</span></div>
          </div>
          <ul class="schedule-list">
            <li class="schedule-list__item">
              <div class="schedule-list__group">
                <div class="schedule-list__title">Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус</div>
                <div class="schedule-list__desc">
                  <p>Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле.</p>
                </div>
              </div>
              <div class="schedule-list-info">
                <div class="schedule-list-info__item"><img src="/image/icon/calendar.svg" alt="icon">25 декабря</div>
                <div class="schedule-list-info__item"><img src="/image/icon/clock.svg" alt="icon">17:20-18:20</div>
                <div class="schedule-list-info__item"><img src="/image/icon/tickets.svg" alt="icon">30 билетов</div>
              </div>
            </li>
            <li class="schedule-list__item">
              <div class="schedule-list__group">
                <div class="schedule-list__title">Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус</div>
                <div class="schedule-list__desc">
                  <p>Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле.</p>
                </div>
              </div>
            </li>
            <li class="schedule-list__item">
              <div class="schedule-list__group">
                <div class="schedule-list__title">Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус</div>
              </div>
              <div class="schedule-list-info">
                <div class="schedule-list-info__item"><img src="/image/icon/calendar.svg" alt="icon">25 декабря</div>
                <div class="schedule-list-info__item"><img src="/image/icon/clock.svg" alt="icon">17:20-18:20</div>
                <div class="schedule-list-info__button">
                  <div class="button button_min"><a class="toggle-popup" href="#consent" title="Запись">Запись
                      <svg>
                        <use href="/image/icon/link.svg#link"></use>
                      </svg></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Согласие на расшиб-->
    <div class="module center" id="consent">
      <div class="consent">
        <div class="consent__title">
          <h3>Согласие на расшиб</h3>
        </div>
        <form class="consent-form" name="consent" autocomplete="off">
          <fieldset class="consent-form__line">
            <input id="consent-birthday" type="hidden" name="gender" value="">
            <div class="consent-form__link"><a href="#" title="Мужской">Мужской</a></div>
            <div class="consent-form__link"><a href="#" title="Женский">Женский</a></div>
          </fieldset>
          <fieldset class="consent-form__line">
            <label for="consent-birthday">Дата рождения</label>
            <input id="consent-birthday" type="text" name="birthday" required placeholder="" value="">
          </fieldset>
          <fieldset class="consent-form__line">
            <label for="consent-stand">Стойка</label>
            <input id="consent-stand" type="text" name="stand" placeholder="" value="">
          </fieldset>
          <fieldset class="consent-form__line">
            <label for="consent-name">ФИО</label>
            <input id="consent-name" type="text" name="name" required placeholder="" value="">
          </fieldset>
          <fieldset class="consent-form__line">
            <div class="consent-form__button">
              <div class="button button_form button_send button_disabled"><a href="#" title="Отправить">Отправить</a></div>
            </div>
            <div class="consent-form__column">
              <p>Нажимая на кнопку «Отправить», вы соглашаетесь с <a href="#" title="">Политикой конфиденциальности</a></p>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=ce7b5d8"></script><script defer src="/assets/js/main.js?v=87d876a"></script></body>
</html>
